<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.HunshaxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Hunshaxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="hunshabianhao" jdbcType="VARCHAR" property="hunshabianhao" />    <result column="hunshamingcheng" jdbcType="VARCHAR" property="hunshamingcheng" />    <result column="hunshaleixing" jdbcType="VARCHAR" property="hunshaleixing" />    <result column="tupian" jdbcType="VARCHAR" property="tupian" />    <result column="lianxidianhua" jdbcType="VARCHAR" property="lianxidianhua" />    <result column="jiage" jdbcType="VARCHAR" property="jiage" />    <result column="xiangxi" jdbcType="VARCHAR" property="xiangxi" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hunshabianhao,hunshamingcheng,hunshaleixing,tupian,lianxidianhua,jiage,xiangxi, addtime
  </sql>
  <select id="quchongHunshaxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from hunshaxinxi 
    where hunshabianhao = #{hunshabianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from hunshaxinxi  where 1=1
    <if test="hunshabianhao!=null">and hunshabianhao like  concat('%',#{hunshabianhao,jdbcType=VARCHAR},'%')</if>     <if test="hunshamingcheng!=null">and hunshamingcheng like  concat('%',#{hunshamingcheng,jdbcType=VARCHAR},'%')</if>     <if test="hunshaleixing!=null">and hunshaleixing like  concat('%',#{hunshaleixing,jdbcType=VARCHAR},'%')</if>     <if test="tupian!=null">and tupian like  concat('%',#{tupian,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="jiage1!=null">and jiage &gt;=  concat('',#{jiage1,jdbcType=VARCHAR},'')</if>     <if test="jiage2!=null">and jiage &lt;=  concat('',#{jiage2,jdbcType=VARCHAR},'')</if>     <if test="xiangxi!=null">and xiangxi like  concat('%',#{xiangxi,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hunshaxinxi  where 1=1
    <if test="hunshabianhao!=null">
    and hunshabianhao =#{hunshabianhao}
    </if>
  </select>
  
  <select id="getsyhunshaxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hunshaxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyhunshaxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hunshaxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyhunshaxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hunshaxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from hunshaxinxi where 1=1 
     <if test="hunshabianhao!=null">and hunshabianhao like  concat('%',#{hunshabianhao,jdbcType=VARCHAR},'%')</if>     <if test="hunshamingcheng!=null">and hunshamingcheng like  concat('%',#{hunshamingcheng,jdbcType=VARCHAR},'%')</if>     <if test="hunshaleixing!=null">and hunshaleixing like  concat('%',#{hunshaleixing,jdbcType=VARCHAR},'%')</if>     <if test="tupian!=null">and tupian like  concat('%',#{tupian,jdbcType=VARCHAR},'%')</if>     <if test="lianxidianhua!=null">and lianxidianhua like  concat('%',#{lianxidianhua,jdbcType=VARCHAR},'%')</if>     <if test="jiage1!=null">and jiage &gt;=  concat('',#{jiage1,jdbcType=VARCHAR},'')</if>     <if test="jiage2!=null">and jiage &lt;=  concat('',#{jiage2,jdbcType=VARCHAR},'')</if>     <if test="xiangxi!=null">and xiangxi like  concat('%',#{xiangxi,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hunshaxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hunshaxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Hunshaxinxi">
    insert into hunshaxinxi (id, hunshabianhao,hunshamingcheng,hunshaleixing,tupian,lianxidianhua,jiage,xiangxi, addtime)
    values (#{id,jdbcType=INTEGER}, #{hunshabianhao,jdbcType=VARCHAR},#{hunshamingcheng,jdbcType=VARCHAR},#{hunshaleixing,jdbcType=VARCHAR},#{tupian,jdbcType=VARCHAR},#{lianxidianhua,jdbcType=VARCHAR},#{jiage,jdbcType=VARCHAR},#{xiangxi,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Hunshaxinxi">
    insert into hunshaxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hunshabianhao != null"> hunshabianhao, </if>      <if test="hunshamingcheng != null"> hunshamingcheng, </if>      <if test="hunshaleixing != null"> hunshaleixing, </if>      <if test="tupian != null"> tupian, </if>      <if test="lianxidianhua != null"> lianxidianhua, </if>      <if test="jiage != null"> jiage, </if>      <if test="xiangxi != null"> xiangxi, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hunshabianhao != null"> #{hunshabianhao,jdbcType=VARCHAR},</if>      <if test="hunshamingcheng != null"> #{hunshamingcheng,jdbcType=VARCHAR},</if>      <if test="hunshaleixing != null"> #{hunshaleixing,jdbcType=VARCHAR},</if>      <if test="tupian != null"> #{tupian,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="jiage != null"> #{jiage,jdbcType=VARCHAR},</if>      <if test="xiangxi != null"> #{xiangxi,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Hunshaxinxi">
    update hunshaxinxi
    <set>
	  <if test="hunshabianhao != null"> hunshabianhao = #{hunshabianhao,jdbcType=VARCHAR},</if>      <if test="hunshamingcheng != null"> hunshamingcheng = #{hunshamingcheng,jdbcType=VARCHAR},</if>      <if test="hunshaleixing != null"> hunshaleixing = #{hunshaleixing,jdbcType=VARCHAR},</if>      <if test="tupian != null"> tupian = #{tupian,jdbcType=VARCHAR},</if>      <if test="lianxidianhua != null"> lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},</if>      <if test="jiage != null"> jiage = #{jiage,jdbcType=VARCHAR},</if>      <if test="xiangxi != null"> xiangxi = #{xiangxi,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Hunshaxinxi">
    update hunshaxinxi
    set hunshabianhao = #{hunshabianhao,jdbcType=VARCHAR},hunshamingcheng = #{hunshamingcheng,jdbcType=VARCHAR},hunshaleixing = #{hunshaleixing,jdbcType=VARCHAR},tupian = #{tupian,jdbcType=VARCHAR},lianxidianhua = #{lianxidianhua,jdbcType=VARCHAR},jiage = #{jiage,jdbcType=VARCHAR},xiangxi = #{xiangxi,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
